* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
}


body {
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}

a:hover {
    color: var(--brand-color-light);
    transition: 350ms;
}

h1, h2, h3 {
    font: inherit;
}


/* section img:nth-child(1) {
    width: 608px;
    height: 416px;
}

section img:nth-child(2) {
    width: 288px;
    height: 200px;
} */

img {
    max-width: 100%;
}

/* Classe usada para todas as divisões da página - header, main, footer etc.. */
.container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

main {
    margin-top: 40px;
}